<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>822996900107-96t3k2ktro9alirvlu5rjqc30bh51qo3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822996900107-96t3k2ktro9alirvlu5rjqc30bh51qo3</string>
	<key>API_KEY</key>
	<string>AIzaSyBhLRnuLXRGnElHl4mwqdtK241tRw-m61s</string>
	<key>GCM_SENDER_ID</key>
	<string>822996900107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-clone-9c90d</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-clone-9c90d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822996900107:ios:3cda19ebdd7e5cf7c02a0e</string>
</dict>
</plist>