.mx-10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem
}

.h-10 {
  height: 2.5rem
}

.w-10 {
  width: 2.5rem
}

.items-center {
  align-items: center
}

.rounded-full {
  border-radius: 9999px
}

.bg-blue-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(191 219 254 / var(--tw-bg-opacity))
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.pt-12 {
  padding-top: 3rem
}

.pt-2 {
  padding-top: 0.5rem
}

.pt-10 {
  padding-top: 2.5rem
}

.pt-8 {
  padding-top: 2rem
}

.font-semibold {
  font-weight: 600
}

.text-blue-800 {
  --tw-text-opacity: 1;
  color: rgb(30 64 175 / var(--tw-text-opacity))
}
