.static {
  position: static
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.bottom-0 {
  bottom: 0px
}

.bottom-20 {
  bottom: 5rem
}

.left-0 {
  left: 0px
}

.bottom-40 {
  bottom: 10rem
}

.bottom-4 {
  bottom: 1rem
}

.bottom-2 {
  bottom: 0.5rem
}

.-left-14 {
  left: -3.5rem
}

.top-0 {
  top: 0px
}

.bottom-16 {
  bottom: 4rem
}

.m-5 {
  margin: 1.25rem
}

.mx-10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.mt-3 {
  margin-top: 0.75rem
}

.mt-1 {
  margin-top: 0.25rem
}

.mt-20 {
  margin-top: 5rem
}

.mt-5 {
  margin-top: 1.25rem
}

.mt-80 {
  margin-top: 20rem
}

.mr-4 {
  margin-right: 1rem
}

.mt-4 {
  margin-top: 1rem
}

.ml-14 {
  margin-left: 3.5rem
}

.mt-8 {
  margin-top: 2rem
}

.flex {
  display: flex
}

.h-10 {
  height: 2.5rem
}

.h-20 {
  height: 5rem
}

.h-16 {
  height: 4rem
}

.h-3\/4 {
  height: 75%
}

.h-full {
  height: 100%
}

.h-screen {
  height: 100vh
}

.h-1\/2 {
  height: 50%
}

.h-32 {
  height: 8rem
}

.h-12 {
  height: 3rem
}

.min-h-screen {
  min-height: 100vh
}

.w-10 {
  width: 2.5rem
}

.w-full {
  width: 100%
}

.w-16 {
  width: 4rem
}

.w-52 {
  width: 13rem
}

.w-80 {
  width: 20rem
}

.w-32 {
  width: 8rem
}

.w-12 {
  width: 3rem
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.justify-evenly {
  justify-content: space-evenly
}

.rounded-full {
  border-radius: 9999px
}

.rounded-xl {
  border-radius: 0.75rem
}

.rounded-2xl {
  border-radius: 1rem
}

.rounded-lg {
  border-radius: 0.5rem
}

.rounded-sm {
  border-radius: 0.125rem
}

.rounded-tl-none {
  border-top-left-radius: 0px
}

.rounded-tr-none {
  border-top-right-radius: 0px
}

.border-t {
  border-top-width: 1px
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.bg-blue-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(191 219 254 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-green-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(187 247 208 / var(--tw-bg-opacity))
}

.bg-red-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 202 202 / var(--tw-bg-opacity))
}

.bg-transparent {
  background-color: transparent
}

.bg-yellow-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 240 138 / var(--tw-bg-opacity))
}

.bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity))
}

.bg-purple-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(147 51 234 / var(--tw-bg-opacity))
}

.bg-red-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(248 113 113 / var(--tw-bg-opacity))
}

.p-4 {
  padding: 1rem
}

.p-2 {
  padding: 0.5rem
}

.p-3 {
  padding: 0.75rem
}

.p-5 {
  padding: 1.25rem
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.px-12 {
  padding-left: 3rem;
  padding-right: 3rem
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.pt-12 {
  padding-top: 3rem
}

.pt-2 {
  padding-top: 0.5rem
}

.pt-10 {
  padding-top: 2.5rem
}

.pt-8 {
  padding-top: 2rem
}

.pb-\[130px\] {
  padding-bottom: 130px
}

.pt-20 {
  padding-top: 5rem
}

.pl-2 {
  padding-left: 0.5rem
}

.pl-4 {
  padding-left: 1rem
}

.text-center {
  text-align: center
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.font-semibold {
  font-weight: 600
}

.font-bold {
  font-weight: 700
}

.font-light {
  font-weight: 300
}

.text-blue-800 {
  --tw-text-opacity: 1;
  color: rgb(30 64 175 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}
